*{
   box-sizing: border-box;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight: 400;
}
.container {
   max-width: 1272px;
   margin: 0 auto;
}

/*header*/
.header {
   padding: 25px 0 10px;
   background-color: #445162;
}

.section_header {
   display: flex;
   justify-content: space-between;
}
.header-title {
   font-size: 60px;
   line-height: 36px;
   font-weight: 400;
   color: #ffffff;
   padding-bottom: 40px;
   padding-top: 5px;
}

.header-list-item {
   font-size: 20px;
   line-height: 40px;
   font-weight: 400;
   color: #edeef0;

}
.header-icon{
   margin-right: 5px;
   fill: #FFFFFF;
}
.header-image {
   display: block;
   background-color: #ffffff;
   width: 469px;
   height: 214px;
}
/*About*/
.section_about{
   padding: 45px 0 50px;
}
.about_content {
   width: 656px;
   display: block;
}
.about_h2 {
   font-size: 30px;
   line-height: 36px;
   font-weight: 400;
   color: #495666;
   padding-bottom: 20px;
}
.about_video {
   display: block;
   background: #445161;
   width: 430px;
   height: 245px;
}
.about {
   justify-content: space-between;
   display: flex;
   background: #ffffff;
}

.about_text {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   display: block;
   padding-bottom: 20px;
   color: #474747;
}

/*Dignity*/
.section_dignity {
   padding: 25px 0 48px;
   background: #f5f5f5;
}
.content_dignity {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.block_title {
   text-align: center;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   color: #445161;
}
.dignity_item {
   display: block;
   padding-top: 29px;
   position: relative;
   width: 49%;
}
.dignity_text {
   font-size: 16px;
   font-weight: 400;
   color: #434343;
   line-height: 24px;
   padding-left: 40px;
}
.dignity_text::before {
   content: "";
   position: absolute;
   top: 32px;
   left: 0;
   background: #445161 url(/img/icons/plus.svg) center no-repeat;
   width: 32px;
   height: 32px;
}

/*Scrinshots*/
.section_scrinshots{
   padding: 25px 0 51px;
}
.scrinshots_content {
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.scrinshots_item {
   display: flex;
   width: 49%;
   margin-bottom: 27px;  
}
.scrinshots_inner{
   width: 389px;
}
.scrinshots_image {
   display: block;
   height: 153px;
   width: 202px;
   background: #445161;
   margin-right: 15px;
}
.scrinshots_title {
   display: block;
   font-size: 24px;
}
.scrinshots_text {
   display: inline-block;
   font-size: 16px;
   line-height: 24px;
   margin-top: 13px;
}

/*Reviews*/

.section_reviews {
   background: #f5f5f5;
   padding: 25px 0 42px;
}

.reviews_content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 30px;
}
.reviews_item {
   width: 48%;
   margin-bottom: 22px;
   display: flex;
}
.reviews_item::before {
   content: "";
   display: block;
   min-width: 60px;
   height: 60px;
   border-radius: 40px;
   background: #445161;
   margin-right: 15px;
}
.reviews_inner {
   padding: 15px;
   width: 483px;
   background: #ebebeb;
   border-radius: 5px;
   position: relative;
}

.reviews_inner::before {
   content: "";
   height: 15px;
   width: 15px;
   background: #ebebeb;
   display: block;
   position: absolute;
   transform: rotate(45deg);
   top: 40px;
   left: -8px;
}

.reviews_text {
   display: inline-block;
   font-family: "Roboto", sans-serif;
   line-height: 18px;
   letter-spacing: 0px;
   text-align: left;
   font-size: 14px;
}
.reviews_author {
   display: inline-block;
   margin-top: 5px;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0px;
   text-align: left;
   color: #989898;
}


/*Buy*/

.section_buy {
   padding: 45px 0 50px;
}
.buy_content {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   margin-top: 26px;
   
}
.buy_column-standart,
.buy_column-premium,
.buy_column-lux {
   text-align: center;
   border: 2px solid #445161;
   width: 300px;
   background: #445161; 
   border-radius: 5px;
   margin: 0px 23px;
   position: relative;
   padding-bottom: 19px;
   
}
.buy_header {
   font-size: 24px;
   line-height: 30px;
   color: #FFFFFF;
   margin: 13px 0 8px;

}
.buy_price {
   font-size: 40px;
   background: #FFFFFF;
   color: #445162;
   padding: 19px 0 11px;
}
.buy_list {
   text-align: left;
   margin: 11px 0px 16px 15px;
}
.buy_list-item {
   line-height: 24px;
   color: #FFFFFF;
   
}
.buy_button {
   display: inline-block;
   background: #ffffff;
   padding: 12px 112px 7px;
   border-radius: 5px;
   cursor: pointer;
}
.buy_button-link {
   color: #445161;
   font-size: 18px;
   font-weight: bold;
   text-decoration: none; 
}

