body{
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
   padding: 45px ;
   max-width: 1178px;
   margin: 0 auto;

}

/*header*/
.header {
   background-color: #445162;
}
.header_content {
}
.section_header{
   display: flex;
   justify-content: space-between;

}
.header-title {
   font-size: 60px;
   line-height: 36px;
   font-weight: 400;
   color: #ffffff  ;
   padding-bottom: 40px;
   padding-top: 5px;
   
   
}
.header-menu {
}
.header-list-item {
   font-size: 20px;
   line-height: 40px;
   font-weight: 400;
   color: #edeef0;
   background:url(/img/icons/check.svg) 0px 13px no-repeat;
   padding-left: 21px;
}
.figure_header {
}
.header-image {
   display: block;
   background-color: #ffffff;
   width: 469px;
   height: 214px;
}
/*section  about*/
.about_content{
   width: 656px;  
   display: block;
}
.about_h2{
   font-size: 30px;
   line-height: 36px;
   font-weight: 400;
   color: #495666;
   padding-bottom: 20px;           
}
.about_image{
   display: block;
   background: #445161;
   width: 430px;
   height: 245px;
}
.about{
   justify-content: space-between;
   display: flex;
   background: #ffffff;

}

.about_text{
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   display: block;
   padding-bottom: 20px;
   color: #474747  ;
}

/*section dignity*/
.section_dignity {
   background: #f5f5f5;
}
.content_dignity{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.block_title {
   text-align: center;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   color: #445161;
}
.dignity_item {
   display: block;
   padding-top: 29px;
   position: relative;
   width: 49%;
}
.dignity_text {
   font-size: 16px;
   font-weight: 400;
   color: #434343;
   line-height: 24px; 
   padding-left: 40px;
}
.dignity_text::before{
   content: "";
   position: absolute;
   top: 32px;
   left: 0;
   background: #445161 url(/img/icons/plus.svg) center no-repeat;
   width: 32px;
   height: 32px;
}

