@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat-light.eot");
  src: url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: Montserrat, Arial, sans-serif;
}

.conteiner {
  width: 1268px;
  margin: 0 auto;
}
.conteiner-slider {
  width: 1920px;
  margin: 0 auto;
}
/*Header*/
.header {
  background: #454442 url(../img/bg_header.jpg) no-repeat center center / cover;
  padding: 34px 0 49px;
  color: #fff;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 315px;
}
.header_navigation-logo {
  fill: #ffffff;
}
.header_navigation-logo:hover {
  fill: #c7b299;
}
.header_navigation-link:not(:last-of-type) {
  margin-right: 21px;
}
.header_navigation-link-margin {
  margin-right: 54px !important;
}
.header_navigation-link {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}
.header_navigation-link:hover {
  color: #c7b299;
}
.header_navigation-link-svg {
  fill: #ffffff;
}
.header_navigation-link-svg:hover {
  fill: #c7b299;
}

.header_slider {
  position: relative;
}
.header_slider_wrap {
  width: 569px;
  text-align: center;
  margin: 0 auto;
}
.header_slider_wrap_title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 4px;
}
.header_slider_wrap_subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 16px;
}
.header_slider_wrap_text {
  line-height: 1.5;
  margin-bottom: 40px;
}
.header_slider_wrap_button {
  cursor: pointer;
  background-color: #988574;
  padding: 19px 40px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-bottom: 312px;
}
.header_slider_wrap_button:hover {
  color: #c7b299;
}
.header_slider-nav {
  position: absolute;
  top: 34px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  fill: #ffffff;
}
.header_slider-nav:hover {
  fill: #c7b299;
}
.header_slider-nav-prev {
  left: 8%;
}
.header_slider-nav-next {
  right: 8%;
}

.header_pagination {
  display: flex;
  justify-content: center;
}
.header__pagination-item {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.header__pagination-item:not(:last-of-type) {
  margin-right: 7px;
}
.header__pagination-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  transform: scale(1.4);
}

/*Services*/

.services {
  padding: 84px 0 88px;

  display: flex;
  justify-content: center;
}
.services_wrap {
  width: 270px;
  text-align: center;
}
.services_wrap::after {
  content: "";
  display: block;
  background-color: #f1eee9;
  height: 3px;
  width: 70px;
  margin: 0 auto;
}
.services_wrap:not(:last-of-type) {
  margin-right: 20px;
}
.services_wrap:hover .services_title {
  color: #c7b299;
}

.services_icon {
  fill: #555555;
  margin-bottom: 30px;
}
.services_wrap:hover::after {
  background-color: #c7b199;
}

.services_wrap:hover .services_icon {
  fill: #c7b299;
}
.services_title {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555555;
}
.services_text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.2;
}
/*Waxom is realization*/
.realization {
  padding-top: 80px;
  background-color: #fbfaf8;
}
.realization_wrap {
  text-align: center;
}
.realization_title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 20px;
}
.realization_subtitle {
  max-width: 770px;
  margin: 0 auto 42px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 1.4;
}
.realization_image {
  width: 100%;
  display: block;
}

/*Purchase now*/
.purchase {
  background: linear-gradient(to right, #231c1a, #412c22);
  padding: 45px 0;
}
.purchase_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase_inner {
}
.purchase_inner-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 6px;
}
.purchase_inner-title span {
  color: #c7b299;
}
.purchase_inner-text {
  font-size: 18px;
  font-weight: 300;
  color: #615855;
}
.purchase_button {
  background-color: #988574;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 32px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.purchase_button:hover {
  color: #c7b299;
}

/*Our latest project*/

.project {
  padding: 63px 0 33px;
}
.project_header {
  width: 63%;
  text-align: center;
  margin: 0 auto 66px;
}
.project_header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin-bottom: 10px;
}
.project_header-subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 30px;
  line-height: 1.4;
}
.project_header-links {
  box-sizing: border-box;
}
.project_header-link {
  padding: 8px 17px;
  display: inline-block;
  color: #8c8c8c;
  text-decoration: none;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.project_header-link:not(:last-of-type) {
  margin-right: 10px;
}
.project_header-link:hover {
  background-color: #998575;
  color: #ffffff;
}
.project_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 47px;
}
.project_content-figure {
  position: relative;
}
.project_content-figure:nth-last-of-type(n + 4) {
  margin-bottom: 69px;
}

.project_content-figure-svg {
  position: absolute;
  bottom: 93px;
  left: 14px;
  fill: #fbf9f7;
}
.project_content-figcaption {
  padding: 26px 23px;
  background-color: #fbfaf8;
}
.project_content-figure-img {
  display: block;
}
.project_content-figcaption-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  margin-bottom: 8px;
}
.project_content-figcaption-rang {
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
}
.project_button {
  cursor: pointer;
  display: block;
  background-color: #988574;
  color: #ffffff;
  padding: 19px 47px;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
}

/*Video presentation*/
.presentation {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
.presentation_video {
  margin: 0 auto;
}
.presentation_content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  text-align: center;
  width: 570px;
  transform: translateY(-50%) translateX(-50%);
}
.presentation_content-svg {
  margin-bottom: 31px;
  cursor: pointer;
}
.presentation_content-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 18px;
}
.presentation_content-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 18px;
}
.presentation_content-time {
  color: #c7b299;
  font-weight: 400;
}

/*Mobile devices*/

.devices {
  padding-top: 78px;
}
.devices_figure {
  display: flex;
  justify-content: center;
}
.devices_figure-image {
  display: block;
  margin-right: 64px;
}
.devices_figcaption {
  padding-top: 112px;
  width: 670px;
}
.devices_figcaption-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #555555;
}
.devices_figcaption-subtitle {
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 49px;
  line-height: 1.6;
}
.devices_figcaption-items {
  padding-left: 70px;
}
.devices_figcaption-item {
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
}
.devices_figcaption-item:not(:last-of-type) {
  margin-bottom: 10px;
}
.devices_figcaption-item-svg {
  fill: #c7b299;
  margin-right: 8px;
  transform: translateY(5px);
}
/*Counters*/

.counters {
  background: linear-gradient(45deg, #271F1B 30%, #4E3326);;
  display: flex;
  justify-content: center;
  padding: 36px 0;
}
.counters_wrap {
  text-align: center;
}
.counters_wrap:not(:last-child){
  margin-right: 65px;
}
.counters_wrap-svg {
  fill: #C7B299 ;
  margin-bottom: 10px;
}
.counters_wrap-title {
  font-weight: 300;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.counters_wrap-subtitle {
  color: #C7B299;
  font-weight: 300;
  margin-bottom: 11px;
}
.counters_wrap::after{
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #FFFFFF;
  margin: 0 auto;
}
/*Recent posts*/

.posts {
  box-sizing: border-box;
  padding: 100px 0 38px;
  
}
.posts_header{
  text-align: center;
  width: 770px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.posts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #555555;
  font-size: 30px;
  margin-bottom: 20px;
}
.posts-subtitle {
  font-weight: 300;
  color: #8C8C8C;
  line-height: 1.6;
}
.posts_wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
.posts_figure {
  width: 100%;
  overflow: hidden;
  width: 370px;
  position: relative;
  display: block;
  border: 1px solid #B2B2B2;

}
.posts_figure:not(:last-of-type){
  margin-right: 85px;
}
.posts_figure-image {
  display: block;
  width: 100%;
}
.posts_figure-calendar {
  text-align: center;
  position: absolute;
  top: 19px;
  left: 23px;
  color: #ffffff;
  border-radius: 3px;
}
.posts_figure-calendar-day {
  background-color: #363636;
  padding: 5px 7px 0px;
  font-size: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.posts_figure-calendar-month {
  background-color: #242424;
  padding: 6px 13px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.posts_figure_figcaption {
  width: 325px;
  padding: 31px 0 22px 23px;
}
.posts_figure_figcaption-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #555555;
  margin-bottom: 22px;
}
.posts_figure_figcaption-subtitle {
  font-weight: 300;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 1.6;
}
.posts_figure_figcaption-button {
  padding: 0;
  cursor: pointer;
  border: none;
  position: relative;
  background-color: #fff;
  color: #C7B299;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;

}
.posts_figure_figcaption-button::after{
  position: absolute;
  content: "";
  right: -16px;
  top: 4px;
  border: 4px solid transparent;
  border-left: 7px solid #C7B299;
  border-radius: 1px;
}

.posts_poginetion {
  text-align: center;

  
}

.posts_poginetion-prew,
.posts_poginetion-next {
  border: none;
  cursor: pointer;
  background-color: transparent;
  fill: #D1D1D1;
}
.posts_poginetion-next:hover {
  fill: #C7B299;
}
.posts_poginetion-prew:hover {
  fill: #C7B299;
}

